.section2 {
    z-index: 1;
    position: absolute;
    top: 770px;
    width: 1650px;
    height: 30rem;
    background: linear-gradient(
        to bottom,
        rgb(69, 69, 72),
        rgb(242, 244, 255) 20%,
        rgb(242, 244, 255) 80%,
        rgb(69, 69, 72)
    );
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
}

.text {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7rem;
    width: 30rem;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    height: fit-content;
    position: absolute;
    top: 4.6rem;
    left: 3rem;
    background-color: rgba(0, 0, 0, 0.755);
}

.logos {
    width: 70rem;
    padding: 0 7rem 0 7rem;
    position: absolute;
    left: 30rem;
    top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo1,
.logo2,
.logo3 {
    position: relative;
}

.logo2 {
    margin-right: 4rem;
}

.gradCapImg {
    position: absolute;
    top: 270px;
    left: 665px;
    width: 166.4px;
    height: 86.32px;
    animation: 6s ease-in-out infinite fly, 2s linear infinite rotate,
        6s linear infinite disappear;
}

.questionMark {
    position: absolute;
    top: 250px;
    left: 1365px;
    font-size: 7.5rem;
    color: rgb(1, 84, 158);
    animation: 6s linear infinite appear;
}

@keyframes fly {
    0% {
        left: 665px;
    }
    50% {
        left: 1315px;
    }
    100% {
        left: 665px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fly2500 {
    0% {
        left: 1200px;
    }
    50% {
        left: 1840px;
    }
    100% {
        left: 1200px;
    }
}

@keyframes fly3500 {
    0% {
        left: 1640px;
    }
    50% {
        left: 2280px;
    }
    100% {
        left: 1640px;
    }
}

@media (min-width: 2500px) {
    .section2 {
        top: 1170px;
        width: 2500px;
        height: 500px;
    }
    .text {
        left: 38rem;
        top: 7rem;
        font-size: 1.05rem;
    }
    .logos {
        left: 64rem;
        top: 6rem;
    }
    .gradCapImg {
        top: 19.5rem;
        animation: 6s ease-in-out infinite fly2500, 2s linear infinite rotate,
            6s linear infinite disappear;
    }
    .questionMark {
        left: 1903px;
        top: 18rem;
    }
}

@media (min-width: 3500px) {
    .section2 {
        top: 1640px;
        width: 3500px;
        height: 700px;
    }
    .text {
        left: 60rem;
        top: 12rem;
        font-size: 1.1rem;
    }
    .logos {
        left: 90rem;
        top: 11rem;
    }
    .gradCapImg {
        top: 26rem;
        animation: 6s ease-in-out infinite fly3500, 2s linear infinite rotate,
            6s linear infinite disappear;
    }
    .questionMark {
        left: 2320px;
        top: 23rem;
    }
}
