.page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(207, 255, 207);
}

.content {
    position: relative;
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 80%;
}

.backdrop {
    position: absolute;
    z-index: 3;
    background-color: green;
}

.b1 {
    left: -10rem;
    top: -5rem;
    width: 30rem;
    height: 10rem;
    transform: rotate(-25deg);
}

.img {
    position: relative;
    width: 20rem;
    height: 30rem;
}

.p1 {
    width: calc(100% - 20rem);
}
