.left {
    width: 75%;
    /* border-right: 1px solid rgb(172, 172, 172); */
    padding: 2rem;
}

.right {
    width: 25%;
    justify-content: center;
}

.projectTitle {
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
}

.linkContainer {
}

.linkTitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

.link {
    color: rgb(55, 55, 255);
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}
