.project {
    width: 100%;
}

.project p {
    width: 100%;
}

.left {
    width: 75%;
    padding: 2rem;
}

.right {
    width: 25%;
    justify-content: center;
}

.projectTitle {
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    margin-bottom: 0.5rem;
}

.date {
    width: 100%;
    margin-top: 0;
}

.linkContainer {
}

.linkTitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

.link {
    color: rgb(55, 55, 255);
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .left {
        padding: 0;
        width: 100%;
    }
    .right {
        width: 100%;
        margin: 0.5rem 0 0.5rem 0;
    }
    .project {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .date {
        margin-bottom: 0.5rem;
    }
    .project p {
        margin: 0.4rem 0 0.4rem 0;
    }
    .projectTitle {
        font-size: 1.5rem;
    }
    .linkTitle {
        margin: 0;
    }
}

@media (min-width: 2500px) {
    .project p {
        font-size: 1.05rem;
    }
}

@media (min-width: 3500px) {
    .project p {
        font-size: 1.1rem;
    }
}
